
.dental-form .row{ margin-bottom: 12px; }
ul {list-style: none; }
/*li {margin-bottom: 12px;}*/
.dental-form h5{ margin:15px 0; font-weight: 700;  padding:5px 0;}

@media only screen and (max-width: 767px) {
	.dataTables_wrapper.form-inline.dt-bootstrap.no-footer {overflow: auto;}
}

.no-pad {position: relative; padding: 0 25px;}
.no-pad div{padding: 0; text-align: center; }
.bordered { border-right: 1px solid #ddd }
.dental-chart{ padding:50px 0;  }
.dental-chart input{ width:28px;  }
.dental-chart .row{ margin-bottom: 20px;  }
.dental-chart h5{ position: absolute; }
.pos1 {top:0; left: 160px;}
.pos2 {top:0; right:160px;}
.pos3 {bottom:0; left: 160px;}
.pos4 {bottom:0; right:160px;}
#dental-canvas-view {height: 64px;position: relative;width: 64px;}
.color-result {
  background-color: red;
  height: 64px;
  margin-left: 73px;
  position: relative;
  width: 64px;
}
.dental-color {
  border: 1px solid;
  height: 33px;
  width: 40px;
}
.dental-color-container {
  float: left;
  margin-bottom: 6px;
  padding: 0;
  width: 72px;
}
.dental-color {
  border: 0 none;
  float: left;
  height: 28px;
  margin-right: 8px;
  width: 28px;
  border-radius: 0;
}
.dental-color :hover
{
	cursor: pointer;
}
.dental-icon {
  background-color: red;
  float: left;
  height: 29px;
  margin-right: 5px;
  position: relative;
  right: 2px;
  width: 30px;
}
.dental-icon :hover
{
	cursor: pointer;
}
.color-red{
	background-color: red;
}
.color-blue{
	background-color: blue;
}
.color-yellow{
	background-color: yellow;
}
.color-orange{
	background-color: orange;
}
.color-green{
	background-color: green;
}
.color-black{
	background-color: black;
}
.color-brown{
	background-color: brown;
}
.dental-icon > img {
  position: relative;
  top: -1px;
}
.dental-canvas {
  height: 118%;
  position: relative;
  right: 1px;
  top: -1px;
  width: 115%;
}
.dental-color.dental-btn-clear.btn {
  border: 1px solid;
}
.dental-color.dental-btn-clear.btn > p {
  font-size: 11px;
  position: relative;
  right: 11px;
}
.canvas-tooth {
  height: 34px;
  width: 34px;
}
.custom-form-group {
  position: relative;
  top: 11px;
}

#patient-dental-chart-details { overflow: auto; }
.no-pad {position: relative; padding: 0 25px;}
.no-pad div{padding: 0; text-align: center; }
.bordered { border-right: 1px solid #ddd }
.dental-chart{ padding:50px 0; width: 600px; margin:0 auto;}
.dental-chart input{ width:28px;  }
.dental-chart .row{ margin-bottom: 20px;  }
.dental-chart h5{ position: absolute; }
.pos1 {top:0; left: 20px;}
.pos2 {top:0; right:20px;}
.pos3 {bottom:0; left: 20px;}
.pos4 {bottom:0; right:20px;}

/*New*/
.right-chart .row { text-align: right; }
.left-chart .row { text-align: left; }
.teeth-canvas { display: inline-block; }

.attachment-content img.img-attachment-view { max-width: 100%; }
.img-preview img { max-width: 100%; }
embed { width: 100%; height: 500px; }

/*Profile*/
.profile-user-img { clear: both; }

/*Overwrite Theme Default*/
.skin-blue .main-header a.logo,
.skin-blue .main-header a.logo:hover { background: #3C8DBC; padding:0 10px;}
.skin-blue .main-header .logo-lg img.logo,
.skin-blue .main-header a:hover .logo-lg img.logo { max-width: 190px; padding:0; background: #3C8DBC;}
.sidebar-mini.skin-blue .main-header a.logo { background: #3C8DBC; padding:0; }
.sidebar-mini.sidebar-collapse.skin-blue .main-header .logo-mini { margin:0; padding:0; }
.skin-blue .main-header .logo-mini img.logo { padding:0; background: #3C8DBC;}

/*Ortho Xray */
.div-before{
  padding: 0 30px 30px 30px;
}
.before-container {
  /*border: 0px solid #ddd;*/
}
.before-picture-container-3 {
  border: 1px solid #ccc;
  height: 123px;
  margin: 1px;
}
.before-picture-container-4 {
  border: 1px solid #ccc;
  height: 149px;
  margin: 1px;
}
.before-col {
  padding: 0px;
}
.before-image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.avalable-image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.after-image {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.before-container-hover
{
  background-color: #ccc
}
.avalable-image-container {
  /*border: 1px solid #ccc;
  height: 424px;
 
  overflow: auto;*/
   margin-top: 29px;
}
.div-main-avalable .col-md-3 {
  height: 102px;
  padding: 0px 0px 0px 0px;
}
.avalable-parent
{
  margin-bottom: 0;
  margin-top: 74px;
}
.pic-upload {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 23px;
  left: 3px;
  padding: 0 3px;
  position: relative;
  top: 72%;
}
.pic-trash {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: right;
  font-size: 14px;
  margin: 2px;
  padding: 0 3px;
  position: relative;
}

.external-event-2 {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box.default-box {border: 2px solid #ccc;}
.small-box.default-box:hover { color:#000;}


@media only screen and (max-width:767px) {
  .color-result { margin:0 auto 20px; }
  .dental-color-container { float:none; display: inline-block;}
  .dental-color-holder { text-align: center; }
}